body {
background-color: #0070ff;
background-image: linear-gradient(45deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
background-repeat: no-repeat;
background-attachment: fixed;
font-family: Open Sans, sans-serif;
color: white;
display: flex;
flex-direction: column;
padding: 1em;
max-width: 800px;
margin: auto;
background-position: top center, calc(100% + 29.5em) top, -23.5em top;
background-size: auto;
}

@media (min-width: 1530px) {
body.local {
background-image: linear-gradient(90deg, rgba(2, 0, 36, 0.2) 0%, rgb(9, 9, 121) 36%, rgb(9, 9, 121) 54%, rgba(0, 212, 255, 0.6) 100%), url(assets/img/rosa.webp), url(assets/img/wft.webp);
}
}

body::before {
  /*content: "";*/
  background: #0000001c;
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.title {
margin-top: 0;
  text-align: center;
  margin-bottom: .5em;
}

p {
  margin: 0;
  font-size: 1em;
}

p a {
  color: white;
}

p span {
  font-weight: bold;
}

.List {
/*  display: flex;
  flex-direction: column; */
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  font-family: arial;
  /*column-gap: 10px;
  row-gap: 2px;*/
  /*max-height: 80vh;
  justify-content: center;*/
}

record {
display: flex;
align-items: center;
justify-content: space-between;
border: 1px solid rgba(255,255,255,.05);
border-bottom-width: 0;
background-color: #00000078;
box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.1);
transition: all ease-in-out 0.2s;
/*backdrop-filter: blur(10px);*/
}

record:hover {
  background-color: #4d73aa;
  z-index: 9;
}

record.wip:hover:after {
  content: "Coming Soon";
  background-color: #242424;
  padding: 4px 5px;
  border-radius: 10px;
  margin-top: 70px;
  z-index: 9999999;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.7);
  position: absolute;
  min-width: 100px;
}


record:not(.done, .wip):hover {
filter: grayscale(1);
}

record:not(.done) a {
  cursor: default;
}

record.ignore {
display: none;
}

record a:before {
content: "";
font-size: 1.5em;
text-align: center;
/*text-shadow: 2px 4px 3px rgba(0,0,0,0.3);*/
}

record a img {
  padding: 8px;
}

record a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

record.done a:before {
content: "✅";
}

record.wip a:before {
content: "*️⃣";
}

record:last-child {
border-bottom-width: 1px;
}

.Icon img {
aspect-ratio: 1/1;
object-fit: contain;
filter: drop-shadow(5px 5px 1px #0000009c);
}

.Icon img, record a:before {
width: 2.4em;
}

.ShowSubcategoriesButton {
display: none;
}

.Info {
/*display: flex;*/
display: none;
justify-content: end;
gap: 8px;
margin-left: auto;
align-items: center;
}

.Info a {
text-align: end;
color: gold;
text-decoration: none;
display: inline-block;
max-width: min-content;
}

.Info itemcount {
color: white;
}

.xtrastuff {
  display: grid;
  flex-direction: column;
  gap: .5em;
  margin-top: 1.3em;
}

.xtrastuff a {
  display: inline-block;
}

@media (max-width: 768px) {
.Icon img, record a:before {
width: 1.9em;
}

p {
  font-size: 0.9em;
}
}